.productdisplay {
    display: flex;
    margin: 0px 170px;
}

.productdisplay-left {
    display: flex;
    gap: 17px;
}

.productdisplay-img-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.productdisplay-img-list img {
    height: 163px;
}

.productdisplay-main-img {
    width: 586px;
    height: 700px;
}

.productdisplay-right {
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}

.productdisplay-right h1 {
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}

.productdisplay-right-star {
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}

.productdisplay-right-price {
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}

.productdisplay-right-prices-old {
    color: #818181;
    text-decoration: line-through;
}

.productdisplay-right-prices-new {
    color: #ff414f;
}

.productdisplay-right-size h1 {
    margin-top: 55px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    /*note*/
}

.productdisplay-right-sizes {
    display: flex;
    margin: 30px 0px;
    gap: 20px;

}

.productdisplay-right-sizes div {
    padding: 18px 24px;
    background: #fbfbfb;
    border: 1px solid #ebebee;
    border-radius: 3px;
    cursor: pointer;
}

.productdisplay-right-button {
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #ff4141;
    margin-bottom: 40px;
    border: none;
    border-radius: 15px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    -webkit-transition: box-shadow 0.4s, text-shadow 0.5s;
    -moz-transition: box-shadow 0.4s, text-shadow 0.5s;
    transition: box-shadow 0.4s, text-shadow 0.5s;

    &:hover {
        cursor: pointer;
        background-color: rgb(193, 115, 20);
    }

    &:active {
        background: linear-gradient(30deg,
                rgba(210, 178, 212, 1) 0%,
                rgba(177, 183, 223, 1) 100%);
        color: rgba(192, 181, 218, 1);

    }


}

.productdisplay-right-category {
    margin-top: 10px;

}

.productdisplay-right-category span {
    font-weight: 600;
}