.newsletter{
    /* width:65%;
    height: 40vh; */
    width: 82%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 140px;
    /* background: linear-gradient(180deg, #fde1ff 0%,#e1ffea22 60%); */
    background-image: linear-gradient(to right top, #fc1874, #fd6695, #fb94b3, #f4bdcf, #eae4e6);
    gap: 30px;
}
.newsletter h1{
    color: #0b0110;
    font-size: 55px;
    font-weight: 600;
}
.newsletter p{
    color: #1b0303;
    font-size: 20px;
    font-weight: 500;
    
}
.newsletter div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 530px;
    height: 50px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
}
.newsletter input{
    width: 150px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-family: poppins;
    
}
.newsletter div button{
    width: 150px;
    height: 50px;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}